[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-auth-ldap = "5.3"
python-ldap = "3.4"
django-environ = "*"
django-phonedir = "==0.4"

[dev-packages]
djlint = "1.36.4"
ruff = "*"

[requires]
python_version = "3.14"

[scripts]
runserver = "python src/manage.py runserver"
makemigrations = "python src/manage.py makemigrations"
migrate = "python src/manage.py migrate"
shell = "python src/manage.py shell"
test = "python src/manage.py test"
