{% extends "base.html" %}
{% block title %}
    Departments
{% endblock title %}
{% block content %}
    <div class="flex flex-col gap-4">
        {% for dept in departments %}
            <div class="card bg-base-100 shadow">
                <div class="card-body">
                    <a href="{% url 'department_detail' dept.short_name %}">
                        <h3 class="card-title">{{ dept.name }}</h3>
                    </a>
                    <p>
                        <strong>Supervisor:</strong> {{ dept.supervisor.get_full_name|default:dept.supervisor.username }}
                    </p>
                </div>
            </div>
        {% empty %}
            <p>No departments found.</p>
        {% endfor %}
    </div>
{% endblock content %}
