{% extends "base.html" %}
{% block title %}
    {{ department.name }}
{% endblock title %}
{% block content %}
    <div>
        {% for faxnumber in department.faxnumbers.all %}
            <p>
                <strong>Fax Number:</strong> {{ faxnumber.phone }}
            </p>
            <p>&emsp;{{ faxnumber.description }}</p>
            <p>
                &emsp;<strong>Location:</strong> {{ faxnumber.location }}
            </p>
            <br />
        {% empty %}
            <p>No fax numbers listed for this department.</p>
        {% endfor %}
        {% if department.contacts.all|length > 0 %}
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                {% for contact in department.contacts.all|dictsort:"last_name" %}
                    <div class="card bg-base-100 shadow">
                        <div class="card-body">
                            <h2 class="card-title">{{ contact.first_name }} {{ contact.last_name }}</h2>
                            <p>
                                <strong>Title:</strong> {{ contact.title }}
                            </p>
                            <p>
                                <strong>Extension:</strong> {{ contact.extension }}
                            </p>
                            <p>
                                <strong>Location:</strong> {{ contact.location }}
                            </p>
                            <p>
                                <strong>Phone:</strong> {{ contact.phone }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>
                <strong>No contacts listed.</strong>
            </p>
        {% endif %}
    </div>
{% endblock content %}
